<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>BIENVENIDO A BUSKERS BARCELONA</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="text-faded mb-5">Barcelona es una ciudad verderamente romántica. Late, vive y se mueve del modo más excepcional que puedas imaginar. </p>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#services">Descubre más</a>
      </div>
    </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Registrarse es muy fácil!</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">Eres un artista callejero? Regístrate y cuéntale al mundo acerca de tu performance. No olvides subir fotos!</p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="http://localhost:4200/register">Regístrate aquí!</a>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Descubre Buskers Barcelona</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Buskers</h3>
          <p class="text-muted mb-0">La primer página de Buskers en Barcelona</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Contacta con nosotros</h3>
          <p class="text-muted mb-0">Nos encanaría saber tu opinión acerca de nuestra página!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Siempre al día</h3>
          <p class="text-muted mb-0">Actualizamos nuestra info a diario para que no te pierdas ningún show!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Hecho con amor</h3>
          <p class="text-muted mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio consectetur</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-0" id="portfolio">
  <div class="container-fluid p-0">
    <div class="row no-gutters popup-gallery">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="../../../assets/img/portfolio/fullsize/1.jpg">
          <img class="img-fluid" src="../../../assets/img/portfolio/thumbnails/1.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="../../../assets/img/portfolio/fullsize/2.jpg">
          <img class="img-fluid" src="../../../assets/img/portfolio/thumbnails/2.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Evento
              </div>
              <div class="project-name">
                Projecto
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="../../../assets/img/portfolio/fullsize/3.jpg">
          <img class="img-fluid" src="../../../assets/img/portfolio/thumbnails/3.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="../../../assets/img/portfolio/fullsize/4.jpg">
          <img class="img-fluid" src="../../../assets/img/portfolio/thumbnails/4.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Evento
              </div>
              <div class="project-name">
                Projecto
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="../../../assets/img/portfolio/fullsize/5.jpg">
          <img class="img-fluid" src="../../../assets/img/portfolio/thumbnails/5.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Evento
              </div>
              <div class="project-name">
                Projecto 
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="../../../assets/img/portfolio/fullsize/6.jpg">
          <img class="img-fluid" src="../../../assets/img/portfolio/thumbnails/6.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Evento
              </div>
              <div class="project-name">
                Projecto
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark text-white" id="login">
  <div class="container text-center">
    <h2 class="mb-4">Accede a tu perfil desde aquí!</h2>
    <a class="btn btn-light btn-xl sr-button" href="http://localhost:4200/login">Login!</a>
  </div>
</section>